/* GLOBAL */

:root {
  --white-color: #fff;
  --blue-color: #1b407f;
  --orange-color: #ff7a00;
}

.btn__reset {
  padding: 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.heading__site {
  margin: 0;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.site-btn {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ff7a00;
}

.descr__site {
  margin: 0;
  color: var(--white-color);
}

.section__all {
  padding-bottom: 112px;
}

/* HEADER */

/* FEEEEEEESSSS */

.container h2 {
  margin-bottom: 33px;
  color: #1f1f1f;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__tabs {
  width: 1087px;
}

.tabs__block {
  display: none;
}

.main__content {
  display: flex;
}

.left__block-01 {
  padding-right: 59px;
  padding-bottom: 118px;
  width: 832px;
  border-right: 1px solid #333;
}

.descr__01 {
  margin-bottom: 60px;
  color: rgba(31, 31, 31, 0.8);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  letter-spacing: -0.36px;
}

.title__01 {
  margin-bottom: 20px;
  color: #1f1f1f;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.gps__01 {
  margin-bottom: 20px;
}

.descr__gps {
  margin-bottom: 60px;
  color: rgba(31, 31, 31, 0.8);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.27px;
}

.descr__gps span {
  color: rgba(31, 31, 31, 0.8);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.27px;
}

.block__tab_01 {
  display: flex;
  padding: 48px 54px 55px 39px;
  border-radius: 10px;
  background: linear-gradient(118deg, #0f1a50 0%, #074d92 100%);
}

.descr__tab_01 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.block__tab_01 div {
  margin-right: 38px;
}

.btn__tab_01 {
  padding: 18px 65px 22px 54px;
  border-radius: 3px;
  background: #ff7a00;
  box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.block__right-content {
  padding-left: 45px;
}

.block__right-info {
  display: flex;
  flex-direction: column;
}

.archive__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.archive__wrap h4 {
  margin-bottom: 32px;
  color: #1f1f1f;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right__link {
  color: #525252;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tabs__block:target {
  display: block;
}

.tabs__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}

.tabs__link {
  padding: 10px;
  color: #1f1f1f;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease, background-color 0.3s, border-radius 0.2s ease;
  border: transparent;
}

.tabs__link:focus-visible {
  color: var(--white-color);
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.tabs__link:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 15px;
}

.right__link {
  display: inline-block;
  color: #525252;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right__link:not(:last-of-type) {
  margin-bottom: 20px;
}
