@media (max-width: 1270px) {
  .container {
    max-width: 91.84svw;
  }
  .calendar__number {
    height: 47px;
    font-weight: 500;
  }
  .test__div-block {
    width: 32vw;
  }
  .month {
    width: 32vw;
  }
  .name__month {
    font-size: 32px;
    font-weight: 500;
  }
  .nav__arow {
    padding-right: 13px;
  }
  .nav__arow svg {
    width: 5.6vw;
  }
  .modal-wrap--register .form-register {
    right: calc(50% - 176.5px);
    width: 353px;
    height: 506px;
    padding-top: 38px;
    font-size: 12px;
  }
  .input {
    height: 34px;
    padding-left: 10px;
    margin-bottom: 8px;
  }
  .input:nth-child(n + 9) {
    margin-bottom: 18px;
  }
  .form-title {
    margin: 0 0 15px;
    font-size: 20px;
  }
  .cross {
    width: 15px;
  }
  .form-cross {
    top: -67px;
    right: -58px;
  }
  .registerbtn {
    padding: 8px 35px;
    margin-bottom: 8px;
    font-size: 14px;
  }
  .accountbtn {
    font-size: 14px;
  }
  .modal-wrap--entry .form-entry {
    top: 90px;
    right: calc(50% - 174.5px);
    height: 315px;
    padding-top: 37px;
    font-size: 12px;
  }
  .entrybtn {
    font-size: 14px;
  }
  .input {
    width: 247px;
  }
  .form-cross {
    top: -68px;
    right: -47px;
  }
}

@media (max-width: 1160px) {
  /* СБОРЫ */
  .right__link {
    font-size: 16px;
  }

  .archive__wrap h4 {
    font-size: 28px;
  }

  .gallery__wrap h4 {
    font-size: 28px;
  }

  .tab {
    font-size: 28px;
  }
  /* СБОРЫ */
  /* Отдельная галерея */

  .gallery__title {
    font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1160 - 320)));
  }
}

@media (max-width: 1098px) {
  .main__content {
    display: flex;
    flex-direction: column;
  }
  .tabs__link {
    font-size: 28px;
  }

  .right__link:not(:last-of-type) {
    margin-right: 23px;
  }
  .block__tab_01 {
    padding: 48px 85px 55px 39px;
  }
  /* СБОРЫ */

  .inner__block {
    display: block;
  }

  .block__right-content {
    border-left: none;
  }

  .right__link {
    font-size: 20px;
  }
  .archive__flex {
    display: inline-block;
  }
  .left__block {
    max-width: 100%;
  }
  .descr__tabs {
    font-size: 20px;
  }
  .block__tab_button div {
    max-width: 392px;
  }
  .block__tab_button {
    padding: 3.42em 7.36em 4.06em 7.36em;
  }
  .gallery__block-link {
    display: flex;
    flex-direction: unset;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: scroll;
    padding-bottom: 15px;
  }
  .gallery__wrap h4 {
    margin-bottom: 7px;
  }
  .gallery__wrap {
    max-width: 920px;
  }
  .block__right-content {
    padding: 0;
  }
  .gallery__link img {
    max-width: 210px;
  }
  .gallery__link:not(:last-of-type) {
    margin-right: 10px;
  }

  /* СБОРЫ */
}
@media (max-width: 1270px) {
  .modal-wrap--register .form-register {
    top: 30px;
  }
  .title__tournaments-application {
    font-size: calc(16px + (32 - 20) * ((100vw - 320px) / (1270 - 320))) !important;
  }
  .title__tournaments-application {
    font-size: calc(16px + (32 - 20) * ((100vw - 320px) / (1270 - 320))) !important;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 90.33svw;
  }
  .reset__header {
    padding-bottom: 0;
  }
  .navbar__item:not(:last-child) {
    margin-right: 2.93vw;
  }
  .navbar__menu {
    margin-right: 3.05vw;
  }
  .navbar__link {
    font-size: 14px;
  }
  .header__bottom {
    background-image: linear-gradient(90deg, rgba(1, 0, 16, 0.46) 20.83%, rgba(2, 0, 26, 0) 100%),
      url(/2064-sportivnye_obekty-zheltyj-igrok-stadion-ukraina-1920x1080\ 1.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
  }
  .header__title {
    font-size: 50px;
  }
  .header__descr {
    font-size: 20px;
  }
  .about__descr strong {
    font-size: 18px;
    line-height: 32px; /* 177.778% */
  }
  .about__descr {
    font-size: 18px;
    line-height: 32px;
  }
  .about__us-container {
    padding: 96px 79px 90px 79px;
  }
  .about__main-info {
    margin-right: 21px;
  }
  .team__title {
    margin-bottom: 32px;
  }
  .member__name {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.24px;
  }
  .member__block {
    width: 220px;
  }

  .team {
    padding-bottom: 90px;
  }
  .fees {
    padding: 70px 66px 69px 76px;
  }
  .calendar {
    padding-bottom: 90px;
  }
  .news__title {
    margin-bottom: 59px;
  }
  .news__link {
    font-size: 18px;
    line-height: 27px; /* 150% */
    letter-spacing: -0.27px;
  }
  .news__descr {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    line-height: 27px; /* 168.75% */
    letter-spacing: -0.24px;
  }
  .news__block-add {
    margin-bottom: 42px;
  }
  .news {
    padding-bottom: 90px;
  }
  .calendar__left-block {
    width: 66%;
  }

  .calendar__right-block {
    justify-content: end;
    padding-left: 25px;
  }
  .days {
    height: 35px;
  }
  .calendar__number {
    height: 40px;
    font-size: 16px;
  }
  .month {
    align-items: normal;
    margin-bottom: 15px;
  }
  .calendar__right-block {
    align-items: normal;
  }
  .calendar__left-block strong {
    font-size: 18px;
  }
  .calendar__left-block p {
    font-size: 16px;
    line-height: 27px;
  }
  .title__bottom {
    font-size: 24px;
  }
  /* TУРНИРЫ МЕДИА */

  .internal__block {
    max-width: 610px;
    padding-right: 40px;
  }
  .tournaments__right-block {
    padding-left: 40px;
  }
  .right__link:not(:last-of-type) {
    margin-right: 10px;
  }
  .archive__wrap {
    display: flex;
    flex-direction: column;
  }
  .news__info {
    padding: 20px 17px 20px 25px;
  }
  .title__tournaments-application {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
  }
  .container__application {
    padding: 46px 21px;
  }
  .tournaments__btn {
    padding: 15px 55px !important;
  }

  .internal__block {
    max-width: 610px;
    padding-right: 40px;
  }
  .tournaments__right-block {
    padding-left: 40px;
  }
  .right__link:not(:last-of-type) {
    margin-right: 10px;
  }
  .archive__wrap {
    display: flex;
    flex-direction: column;
  }
  .news__info {
    padding: 20px 17px 20px 25px;
  }
  .title__tournaments-application {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
  }
  .container__application {
    padding: 46px 21px;
  }
  .tournaments__btn {
    padding: 15px 55px !important;
  }

  /* Отдельные страницы под каждый турнир */
  .content__block {
    padding: 0 42px 0 0;
  }
  .right__link {
    font-size: 18px;
  }
  .command__block h4 {
    font-size: 30px;
  }
  /* SUB MENU */
  .sub__link {
    font-size: 16px;
  }

  .submenu {
    left: 45px;
  }

  /* SUB MENU END */
}

@media (max-width: 990px) {
  /* СБОРЫ */
  .block__tab_button {
    padding: 2.42em 3.36em 4.06em 3.36em;
  }
  /* TOURNAMENTS */
  /* TOURNAMENTS */
}

@media (max-width: 855px) {
  .tabs__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
  }
  .tabs__link:nth-child(1) {
    margin-right: 6.17vw;
  }

  .news__block-add {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 13px;
  }
  .news__block-add .news__block {
    min-width: 295px;
  }
  .news__block {
    box-shadow: 0px 0px 4px 0px #333;
  }
  .tournaments__wrap {
    flex-direction: column;
  }
  .internal__block {
    max-width: 100%;
    border-right: none;
  }
  .archive__wrap {
    flex-direction: column;
  }
  .gallery__block-link {
    display: flex;
    flex-direction: unset;
  }

  .news__block-add {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 13px;
  }
  .news__block-add .news__block {
    min-width: 295px;
  }
  .news__block {
    box-shadow: 0px 0px 4px 0px #333;
  }
  .tournaments__wrap {
    flex-direction: column;
  }
  .internal__block {
    max-width: 100%;
    border-right: none;
  }
  .archive__wrap {
    flex-direction: column;
  }
  .gallery__block-link {
    display: flex;
    flex-direction: unset;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 87.24svw;
  }
  .container__header {
    position: relative;
    width: 100%;
    height: 69px;
  }
  .navbar__wrap {
    /* visibility: hidden; */
    /* opacity: 0; */
    position: absolute;
    left: -70%;
    top: 0;
    width: 150px;
    color: transparent;
    background: linear-gradient(219deg, #0f1a50 0%, #074d92 100%);
    transition: all 0.3s ease-in-out, color 0s ease-in-out;
  }
  .navbar {
    width: 100%;
    height: 69px;
  }
  .nav__container {
    height: 30px;
  }
  .header__title {
    color: #1f1f1f;
  }
  .header__descr {
    color: #1f1f1f;
    font-size: 18px;
    margin-bottom: 55px;
  }
  .about__us-container {
    padding: 47px 30px 61px 30px;
  }
  .about__block-right {
    padding-top: 98px;
  }
  .about {
    padding-bottom: 40px;
  }
  .team__member {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .member__photo-first {
    width: 215px;
  }
  .fees {
    padding: 70px 38px 73px 46px;
  }
  .calendar__left-block {
    max-width: 400px;
    width: 100%;
    border-right: none;
    padding-left: 40px;
  }
  .title__bottom {
    font-size: 24px;
    margin-bottom: 28px;
  }
  .calendar__left-block strong {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.27px;
  }
  .calendar__fees {
    margin-bottom: 60px;
  }
  .calendar {
    padding-bottom: 40px;
  }
  .news__title {
    margin-bottom: 24px;
  }
  .news__block-add {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .news {
    padding-bottom: 60px;
  }
  .header__bottom {
    background-image: none;
  }
  .header__bottom .content {
    width: 100%;
    max-width: 586px;
    margin-left: 0px;
  }
  /* TOURNAMENTS */
  .tournaments__wrap {
    flex-direction: column;
  }
  .archive__wrap {
    display: block;
  }
  .right__link:not(:last-of-type) {
    margin-right: 23px;
  }
  .tournaments__right-block {
    padding-left: 0;
  }
  .internal__block {
    max-width: 670px;
    padding-right: 0;
  }
  .news__link {
    display: inline-block;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .news__descr {
    font-size: 18px;
    line-height: 24px;
  }
  .news__info {
    padding: 30px 25px;
  }
  .title__tournaments-application {
    font-size: 30px;
  }

  /* TOURNAMENTS */
  .tournaments__wrap {
    flex-direction: column;
  }
  .archive__wrap {
    display: block;
  }
  .right__link:not(:last-of-type) {
    margin-right: 23px;
  }
  .tournaments__right-block {
    padding-left: 0;
  }
  .internal__block {
    max-width: 670px;
    padding-right: 0;
  }
  .news__link {
    display: inline-block;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .news__descr {
    font-size: 18px;
    line-height: 24px;
  }
  .news__info {
    padding: 30px 25px;
  }
  .title__tournaments-application {
    font-size: 30px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 23px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 11px;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger--active {
    position: absolute;
    top: 33px;
    right: 40px;
  }
  .header__burger--active::before {
    transform: rotate(45deg);
  }
  .header__burger--active::after {
    transform: rotate(-45deg);
    bottom: 21px;
  }
  .header__burger--active span {
    transform: scale(0);
  }

  .navbar__wrap--active {
    display: block;
    /* visibility: visible; */
    /* color: transparent; */
    color: #fff;
    position: fixed;
    width: 105%;
    height: 100%;
    padding: 13.93svw 7.2svw 0 15.11svw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(219deg, #0f1a50 0%, #074d92 100%);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out, color 0s ease-in-out;
  }
  /* .navbar__wrap .navbar__link {
    color: transparent;
  }
  .navbar__wrap--active .navbar__link {
    color: #fff;
  }
  .navbar__wrap .personal__acc {
    color: transparent;
  }
  .navbar__wrap--active .personal__acc {
    color: #fff;
  } */

  .navbar__menu {
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 400px;
    margin-right: 0;
    /* background-color: #000; */
  }
  /* SUBMENU */
  .submenu {
    left: 120px;
    background: linear-gradient(219deg, #0f1a50 0%, #074d92 100%);
  }

  /* SUBMENU END */

  .navbar__link {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .navbar__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3.21vw;
    margin-bottom: 3.21vw;
  }
  .navbar__item:nth-child(6) {
    margin-bottom: 8.46vw;
  }
  .personal__acc {
    text-align: inherit;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
  }
  /* .container__header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    } */
  .calendar__right-block {
    display: none;
  }
  /* FOOTER */
  .footer_right-block {
    display: none;
  }
  /* BTN-UP */
  .btn-up--active {
    bottom: 10px;
    right: 10px;
  }
  .btn-up--active svg {
    width: 55px;
    height: 55px;
  }
  /* Отдельные страницы под каждый турнир */

  .internal__block {
    border: none;
  }
  .title__tournaments {
    font-size: 40px;
    margin-bottom: 4.95vw;
  }
  /* <СБОРЫ ТАБЫ */
  .descr__tab_01 {
    font-size: 23px;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .block__tab_01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.21vw 16.22vw;
  }
  .container__tabs {
    box-shadow: none;
    padding: 0;
  }
  .inner__block {
    max-width: 100%;
  }
  .left__block {
    padding: 0;
  }
  .title__tabs {
    font-size: 30px;
  }
  .title__navigator {
    font-size: 30px;
  }
  .block__tab_button {
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }
  .descr__tab_button {
    font-size: 24px;
    max-width: 295px;
    margin-bottom: 15px;
  }
  .btn__tab {
    margin: 0;
    padding: 10px 23px;
  }
  .right__link {
    font-size: 20px;
  }
  .footer__left-block {
    background-color: var(--orange-color);
  }
  /* СБОРЫ КОНЕЦ */
}
@media (max-width: 623px) {
  .header__btn {
    padding: 15px 20px;
  }
  /* TOURNAMENTS */
  .tournaments__block-flex-1,
  .tournaments__block-flex-2,
  .tournaments__block-flex-3 {
    flex-direction: column;
    align-items: center;
  }
  .news__block {
    /* max-width: 290px; */
    width: 100%;
    max-width: 350px;
  }
}

@media (max-width: 540px) {
  /* МОБИЛКА МЕДИА */
  .container {
    max-width: 90.63svw;
    margin: 0 auto;
  }
  /* БУРГЕР МЕНЮ */

  /* .navbar__wrap {
    position: absolute;
    flex-direction: column;
    max-width: 420px;
    max-height: 600px;
    padding: 16.93vw 11.2vw 23.05vw 9.11vw;
     display: none; 
     top: 0;
    right: 0;
    z-index: 1;
    border-radius: 0px 0px 24px 24px;
    background: linear-gradient(219deg, #0f1a50 0%, #074d92 100%);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1); */
  *

  /* КОНЕЦ БУРГЕРА */

  .container__header {
    position: relative;
    height: 69px;
    margin-bottom: 9.15vw;
  }
  .header__title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 12px;
  }
  .header__descr {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 21px;
  }
  .header__btn {
    padding: 20px 45px 23px 47px;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
  }
  .header__btn:not(:last-of-type) {
    margin-right: 15px;
  }
  .header__bottom {
    min-height: 200px;
    padding-bottom: 71px;
  }
  .about {
    padding-bottom: 50px;
  }
  .about__title {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }
  .about__descr strong {
    font-size: 14px;
    font-weight: 600;
    line-height: 25px; /* 178.571% */
  }
  .about__descr {
    font-size: 14px;
    line-height: 25px;
  }
  .about__block {
    flex-direction: column-reverse;
  }
  .about__us-container {
    padding: 46px 27px;
  }
  .right__block-photo {
    margin-bottom: 15px;
  }
  .about__block-right {
    align-items: center;
    width: 100%;
    display: block;
    padding: 0;
  }
  .about__main-info {
    width: 100%;
    margin-right: 0;
  }
  .team {
    padding-bottom: 50px;
  }
  .team__member {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .team__title {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }
  .member__photo-first {
    max-width: 300px;
    min-width: 285px;
  }
  .member__photo-first img {
    width: 100%;
    max-width: 300px;
    min-width: 285px;
  }
  .member__photo-first img {
    width: 100%;
  }
  .member__block {
    max-width: 300px;
    min-width: 285px;
    max-width: 300px;
    min-width: 285px;
  }
  .member__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px; /* 200% */
    letter-spacing: -0.27px;
  }
  .member__descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.21px;
  }

  /* ГРАФИК СБОРОВ */

  .fees__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .fees {
    padding: 30px 29px 45px 29px;
  }
  .calendar__fees {
    margin-bottom: 0;
  }
  .calendar__left-block {
    padding: 0;
    margin-bottom: 42px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .calendar__left-block strong {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px; /* 187.5% */
    letter-spacing: -0.24px;
  }
  .calendar__left-block p {
    min-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: -0.21px;
    word-wrap: break-word;
  }

  .title__bottom {
    max-width: 300px;
    margin: 0 auto 25px;
    color: #fff;
    font-family: Montserrat;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
  }
  .fees__btn {
    padding: 13px 45px 16px 45px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }
  /*  НОВОСТИ */

  .news__block-add {
    flex-direction: column;
    /* align-items: center; */

    align-items: center;

    align-items: center;
  }
  .news__block {
    max-width: 350px;
    /* min-width: 295px; */
  }
  .news__info {
    padding: 23px 19px 29px 22px;
  }
  .photo__block {
    width: 100%;
  }
  /* Отдельный странички ТУринров */

  .title__tournaments {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .internal__block p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px; /* 150% */
    letter-spacing: -0.27px;
  }
  .command__block h4 {
    font-size: 18px;
  }
  .command__item {
    font-size: 16px;
  }
  .command__item:not(:last-of-type) {
    margin-bottom: 13px;
  }
  .command__item:last-child {
    margin-bottom: 12.5vw;
  }
  .block__maps {
    margin-bottom: 50px;
  }
  .content__block {
    padding: 0;
  }

  /* TOURNAMENTS */

  .news__block {
    width: 100%;
  }

  /* СБОРЫ МОБИЛКА НАЧАЛО */
  .container h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .tab {
    font-size: 18px;
  }
  .descr__tabs {
    font-size: 16px;
    letter-spacing: -0.24px;
    margin-bottom: 30px;
  }
  .tabs {
    margin-bottom: 25px;
  }

  .title__tabs {
    font-size: 18px;
  }
  .info__navigator {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .title__navigator {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .descr__navigator {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .descr__tab_button {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .archive__wrap h4 {
    font-size: 24px;
  }
  .archive__flex {
    display: flex;
    flex-direction: column;
  }
  .right__link:not(:last-of-type) {
    margin-bottom: 7px;
  }
  .inner__block {
    margin-bottom: 50px;
  }
  .block__right-content {
    padding: 0;
  }
  /* СБОРЫ МОБИЛКА КОНЕЦ */
  /* FOOOOOTER */
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__left-block {
    width: 184px;
  }
  .footer__center-block {
    width: 184px;
  }
  /* СОЛО СТРАНИЦЫ ТУРНИРА МОБИЛКА */
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  /* GALLERY */
  .gallery {
    padding-top: 30px;
  }
  .gallery__block-title {
    font-size: 20px;
  }
  .gallery__hero h1 {
    font-size: 38px;
  }
}

@media (max-width: 489px) {
  .header__btn {
    padding: 10px 20px;
  }

  .header__btn:not(:last-of-type) {
    margin-bottom: 15px;
  }
  /*  ОТДЕЛЬНАЯ ГАЛЕРЕЯ */
  .archive__container {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  /* SUBMENU */
  .submenu {
    top: 30px;
    left: -25px;
    z-index: 5 !important;
    background: linear-gradient(219deg, #0f1a50 0%, #074d92 100%);
  }
  .submenu-link {
    z-index: 6 !important;
  }

  /* SUBMENU END */
}
@media (max-width: 320px) {
  /* НОВОСТИ  */
  .news__block {
    min-width: 285px !important;
    box-shadow: none;
  }
  .news__block-add {
    padding-bottom: 10px;
  }
  /* SUBMENU */
  .submenu {
    top: 30px;
    left: -25px;
    z-index: 5 !important;
    background: linear-gradient(219deg, #0f1a50 0%, #074d92 100%);
  }
  .submenu-link {
    z-index: 6 !important;
  }

  /* SUBMENU END */
}
