html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 400px;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background: #f8f8f8;
}

p {
  margin: 0;
}

/* GLOBAL */

:root {
  --white-color: #fff;
  --blue-color: #1b407f;
  --orange-color: #ff7a00;
}

.list__reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn__reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0;
  margin: 0 auto;
}

.heading__site {
  margin: 0;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.site-btn {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ff7a00;
}

.descr__site {
  margin: 0;
  color: var(--white-color);
}

.section__all {
  padding-bottom: 112px;
}

/*  HEADER */
.header__burger {
  display: none;
}

.container__header {
  width: 100%;
  min-width: 320px;
  background-color: var(--blue-color);
}

.navbar {
  width: 100%;
  height: 100px;
}

.navbar .nav__container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  /* gap: 50px; */
  margin-right: 7.34vw;
}

.navbar__item {
  display: inline-block;
  /* margin-right: 50px; */
}

.navbar__item:not(:last-child) {
  margin-right: 47px;
}

.navbar__link {
  display: inline-block;
  color: var(--white-color);
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.personal__acc {
  background-color: transparent;
  border: none;
  color: var(--white-color);
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  /* flex-flow: row nowrap; */
}

.header__bottom {
  display: flex;
  align-items: center;
  min-height: 576px;
  /* min-height: 575px; */
  background-image: linear-gradient(90deg, rgba(1, 0, 16, 0.46) 20.83%, rgba(2, 0, 26, 0) 100%),
    url(../img/2064-sportivnye_obekty-zheltyj-igrok-stadion-ukraina-1920x1080\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__bottom .content {
  width: 100%;
  max-width: 586px;
  margin-left: 97px;
}

.header__title {
  margin-bottom: 5px;
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header__descr {
  margin: 0;
  margin-bottom: 119px;
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__btn {
  max-width: 315px;
  background: #ff7a00;
  box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 17px 54px;
  color: var(--white-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__btn:not(:last-of-type) {
  margin-right: 40px;
}

.main__content {
  padding-bottom: 0;
}

/* ABOUT__US */

.about__title {
  margin-bottom: 7px;
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__descr strong {
  color: #f4f4f4;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
}

.about__descr {
  margin-right: 9%;
  color: #f4f4f4;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
}

.about__us-container {
  /* display: flex; */
  padding: 118px 98px 112px 98px;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(118deg, #0f1a50 0%, #074d92 100%);
}

.about__main-info {
  width: 520px;
}

.about__block {
  display: flex;
  justify-content: space-between;
}

.about__block-right {
  width: 377px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right__block-photo {
  max-width: 100%;
  max-height: 100%;
}

/* TEAM SECTION */

.team__title {
  color: #1f1f1f;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 44px;
}

.team__member {
  display: flex;
  /* justify-content: space-between; */
  gap: 21px;
}

.member__block {
  width: 279px;
  /* margin-right: 20px; */
}

.member__name {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.3px;
}

.member__descr {
  color: #000;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.18px;
}

.member__photo-first {
  margin-bottom: 10px;
}

/* CALENDAR */

.fees__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 39px;
}

.fees {
  padding: 96px 63px 100px 99px;
  border-radius: 10px;
  background: linear-gradient(132deg, #074d92 0%, #0f1a50 100%);
}

.month {
  color: #f4f4f4;
}

.days {
  color: #f1f1f1;
}

.calendar__fees {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.calendar__right-block {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  width: 490px;
  background: none;
  padding-left: 85px;
  padding-right: 63px;
}

.calendar__left-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 48%;
  padding-right: 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.45);
}

.calendar__left-block strong {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 125% */
  letter-spacing: -0.36px;
}

.calendar__left-block p {
  min-width: 281px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.27px;
}
.calendar__left-block p:not(:last-child) {
  margin-bottom: 20px;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
  margin-bottom: 37px;
}

.name__month {
  margin-right: 70px;
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.days {
  /* display: grid;
    justify-content: center;
    align-items: center; */
  display: flex;
  justify-content: space-around;
  grid-template-columns: repeat(7, 1fr);
  height: 50px;
}

.weekday {
  display: flex;
  flex-direction: column;
  height: 83px;
  justify-self: center;
  align-self: center;
  text-align: center;
  color: #a6a2a2;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.block__days {
  width: 40px;
}

.test__div-block {
  width: 490px;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 45px;
}

.calendar__number {
  color: #fff;
  text-align: center;
  height: 50px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.calendar__number:nth-child(11) {
  background-color: red;
}

.title__bottom {
  margin: 0;
  text-align: center;
  margin-bottom: 21px;
  color: #fff;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fees__btn-bottom {
  display: flex;
  justify-content: center;
}

.fees__btn {
  cursor: pointer;
  background: #ff7a00;
  box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 60px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/*  NEWS */

.news__title {
  margin-bottom: 42px;
}

.news__block-add {
  display: flex;
  margin-bottom: 53px;
  gap: 20px;
}

.news__block {
  position: relative;
  width: 377px;
  /* margin-right: 20px; */
  border-radius: 10px;
  background: #fff;
}

.news__block:last-child {
  margin-right: 0;
}

.news__info {
  padding: 34px 25px 39px 30px;
}

.news__link {
  margin-bottom: 5px;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.36px;
}

.news__descr {
  color: rgba(0, 0, 0, 0.8);
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.27px;
}

.news__button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.news__btn {
  padding: 18px 65px 22px 61px;
  border-radius: 3px;
  border: 2px solid var(--orange-color);
  background: #fff;
  box-shadow: 3px 4px 10px 0px rgba(47, 47, 47, 0.09);
  color: var(--orange-color);
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.news__link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* FOOTER */

.full__footer-container {
  width: 100%;
  background: #1b407f;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 51px;
  padding-bottom: 71px;
}

.footer__left-block {
  width: 274px;
}

.footer__center-block {
  width: 205px;
  display: flex;
  flex-direction: column;
}

.footer_right-block {
  width: 251px;
}

.footer__list {
  display: flex;
  margin-bottom: 10px;
}

.footer_item {
  margin-right: 16px;
}

.contacts__title-footer {
  margin-bottom: 7px;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.contacts__title-footer:nth-child(n + 2) {
  margin-bottom: 1px;
}
.link__mail {
  color: #d4d4d4;
  font-family: Open Sans;
  font-size: 14px;
  line-height: normal;
}

.footer_right-block strong {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 168.75% */
}

.footer_right-block p {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
}
.btn-up {
  overflow: hidden;
  position: fixed;
  transition: all 0.3s ease-in-out;
}
.btn-up--active {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /*  */
  transition: all 0.3s ease-in-out;
}
.btn-up--active svg {
  width: 50px;
  height: 50px;
}

/* ФОРМА ВХОДА */
.form-entry {
  visibility: hidden;
  position: absolute;
  right: -50%;
  top: 0;
  width: 150px;
  color: transparent;
}
.form-register {
  visibility: hidden;
  position: absolute;
  right: -50%;
  top: 0;
  width: 150px;
  color: transparent;
}
.modal-wrap--entry {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.modal-wrap--register {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal-wrap--entry .form-entry {
  visibility: visible;
  position: absolute;
  top: 150px;
  right: calc(50% - 174px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 349px;
  height: 390px;
  padding-top: 50px;
  border-radius: 15px;
  background: #fff;
  color: rgba(31, 31, 31, 0.8);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.modal-wrap--register .form-register {
  visibility: visible;
  position: absolute;
  top: 70px;
  right: calc(50% - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 620px;
  padding-top: 50px;
  border-radius: 15px;
  background: #fff;
  color: rgba(31, 31, 31, 0.8);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-title {
  margin: 0 0 20px;
  color: #1f1f1f;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
}
.form-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input {
  width: 270px;
  height: 40px;
  padding: 14px 16px 16px 16px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid rgba(82, 82, 82, 0.32);
  background: #fff;
}
.input {
  margin-bottom: 15px;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.input:focus-visible {
  outline: none;
  border: 1px solid #336fee;
  box-shadow: 0px 0px 10px 0px rgba(51, 111, 238, 0.34);
}
.input:hover {
  outline: none;
  box-shadow: 0px 0px 10px 0px rgba(51, 111, 238, 0.34);
}
.input:active {
  outline: none;
  border: 1px solid #1b407f;
}

/* .input:active {
  border: 1px solid #336fee;
}
.input:hover {
  border: 1px solid #074d92;
} */

/* .modal-wrap--register .input:last-child {
  margin-bottom: 50px;
} */
.input-title {
  margin-bottom: 5px;
  color: rgba(31, 31, 31, 0.8);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.registerbtn {
  margin-bottom: 16px;
  padding: 12px 45px;
  border-radius: 3px;
  border: 2px solid #336fee;
  background: #336fee;
  box-shadow: 3px 4px 10px 0px rgba(47, 47, 47, 0.09);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.entrybtn,
.accountbtn {
  border: none;
  text-align: center;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.entrybtn:hover,
.accountbtn:hover {
  color: #336fee;
}
.form-cross {
  position: absolute;
  z-index: 120;
  height: 25px;
  width: 25px;
  top: -77px;
  right: -42px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
}
.cross {
  width: 17px;
}
.cross rect {
  fill: #1f1f1f;
}
.form-cross:hover .cross rect {
  fill: #ed2424;
}
.form-cross:active .cross rect {
  fill: #1b407f;
}
.form-cross span {
  position: absolute;
  background-color: #030303;
  left: 0;
  width: 100%;
  height: 2px;
  top: 11px;
}
.form-cross span:nth-child(n + 2) {
  transform: rotate(45deg);
}
.form-cross span:first-child {
  transform: rotate(-45deg);
}
.wrpap {
  position: relative;
}
