html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 400px;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background: #f8f8f8;
}

p {
  margin: 0;
}

ol {
  margin: 0;
}

/* GLOBAL */

:root {
  --white-color: #fff;
  --blue-color: #1b407f;
  --orange-color: #ff7a00;
  --orangedark-color: #E1670E;

}

.list__reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
.stop-scroll {
  overflow: hidden;
}

.btn__reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0;
  margin: 0 auto;
}

.heading__site {
  margin: 0;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.site-btn {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ff7a00;
}

.descr__site {
  margin: 0;
  color: var(--white-color);
}

.section__all {
  padding-bottom: 112px;
}

/*  HEADER */

/* SUBMENU */

.submenu {
  position: absolute;
  left: 75px;
  top: 7px;
  padding: 0 25px;
  padding-top: 50px;
  padding-bottom: 30px;
  width: max-content;
  background-color: var(--blue-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
}

.sub__item {
  width: 100%;
}

.sub__item:not(:last-of-type) {
  margin-bottom: 15px;
}



.submenu-link {
  margin-right: 5px;
  z-index: 1;
}

.fa-caret-down {
  color: var(--white-color);
  display: flex;
  align-items: center;
}

.navbar .nav__container .navbar__wrap .navbar__menu .navbar__item:hover > .submenu {
  display: initial;
  z-index: 1;
  opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}




/* SUBMENU END */

.header__burger {
  display: none;
}

.container__header {
  width: 100%;
  min-width: 320px;
  background-color: var(--blue-color);
}

.navbar {
  width: 100%;
  height: 100px;
}

.navbar .nav__container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  /* gap: 50px; */
  margin-right: 7.34vw;
  position: relative;
}

.navbar__item {
  display: inline-block;
  /* margin-right: 50px; */
  transition: all 0.3s ease;
}

.navbar__item:not(:last-child) {
  margin-right: 47px;
}

.navbar__link {
  display: inline-block;
  z-index: 2;
  position: relative;
  padding: 0.2em 0;
  color: var(--white-color);
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: outline 0.3s ease, color 0.3s ease, border-bottom 0.3s linear;
}

.navbar__link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: var(--white-color);
	opacity: 0;
	transition: opacity 500ms, transform 500ms;
}

.navbar__link:hover::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);

}

.navbar__link:focus-visible {
  outline: 2px solid #f90;
  outline-offset: 3px;
  outline-offset: 3px;
}

.navbar__item a::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.navbar__item a:hover::after{
	transform: scale(1);

}

/* .navbar__link:hover {
  color: var(--orange-color);
  border-bottom: 2px solid var(--orange-color);

} */

.navbar__link:active {
  color: var(--orange-color);
}

.personal__acc {
  position: relative;
  background-color: transparent;
  border: none;
  color: var(--white-color);
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: outline 0.3s ease, color 0.3s ease;
}

.personal__acc:focus-visible {
  outline: 2px solid #f90;
  outline-offset: 5px;
}

/* .personal__acc:hover {
  color: var(--orange-color);
} */

.personal__acc::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: var(--white-color);
	opacity: 0;
	transition: opacity 500ms, transform 500ms;
}

.personal__acc:hover::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);

}

.personal__acc:focus-visible {
  outline: 2px solid #f90;
  outline-offset: 5px;
}

.personal__acc::after {

	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.personal__acc:hover::after{
	transform: scale(1);
}

.personal__acc:active {
  color: var(--orange-color);
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  /* flex-flow: row nowrap; */
}

.header__bottom {
  display: flex;
  align-items: center;
  min-height: 576px;
  /* min-height: 575px; */
  background-image: linear-gradient(90deg, rgba(1, 0, 16, 0.46) 20.83%, rgba(2, 0, 26, 0) 100%),
    url(/2064-sportivnye_obekty-zheltyj-igrok-stadion-ukraina-1920x1080\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__bottom .content {
  width: 100%;
  max-width: 586px;
  margin-left: 97px;
}

.header__title {
  margin-bottom: 5px;
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header__descr {
  margin: 0;
  margin-bottom: 119px;
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__btn {

  position: relative;
  z-index: 1;
  overflow: hidden;
  text-transform: uppercase;
  background: #ff7a00;
  box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 17px 41px;
  color: var(--white-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s ease-out, color 0.3s ease-in, border 0.3s ease-in;
}

.header__btn:focus-visible,
.header__btn:focus-visible,
.header__btn:hover,
.header__btn:active {
.header__btn:active {
  color: var(--blue-color);
  border: 1px solid #fafafa;
}


.header__btn:before {
  content: "";

  content: '';

  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-right: 50px solid transparent;
  border-top: 80px solid #fafafa;
  transition: transform 0.5s;
  transform: translateX(-100%);
  z-index: -1;
}

.header__btn:focus-visible:before,

.header__btn:focus-visible:before,
.header__btn:hover:before,
.header__btn:active:before {
.header__btn:active:before {

  transform: translateX(0);
}

.header__btn:not(:last-of-type) {
  margin-right: 40px;
}

.main__content {
  padding-bottom: 0;
}

/* ABOUT__US */

.about__title {
  margin-bottom: 7px;
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__descr strong {
  color: #f4f4f4;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
}

.about__descr {
  margin-right: 9%;
  color: #f4f4f4;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
}

.about__us-container {
  /* display: flex; */
  padding: 118px 98px 112px 98px;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(118deg, #0f1a50 0%, #074d92 100%);
}

.about__main-info {
  width: 520px;
}

.about__block {
  display: flex;
  justify-content: space-between;
}

.about__block-right {
  width: 377px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right__block-photo {
  max-width: 100%;
  max-height: 100%;
}

/* TEAM SECTION */

.team__title {
  color: #1f1f1f;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 44px;
}

.team__member {
  display: flex;
  /* justify-content: space-between; */
  gap: 21px;
}

.member__block {
  width: 279px;
  /* margin-right: 20px; */
}

.member__name {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.3px;
}

.member__descr {
  color: #000;
  font-family: Open Sans;
  font-size: 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.18px;
}

.member__photo-first {
  margin-bottom: 10px;
}

/* CALENDAR */

.fees__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 39px;
}

.fees {
  padding: 96px 63px 100px 99px;
  border-radius: 10px;
  background: linear-gradient(132deg, #074d92 0%, #0f1a50 100%);
}

.calendar__fees {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.calendar__left-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 48%;
  padding-right: 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.45);
}

.calendar__link {
  position: relative;
  padding: 0.2em 0;
  color: var(--white-color);
  font-size: 24px;
  line-height: 30px; /* 125% */
  letter-spacing: -0.36px;
}

.calendar__link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: var(--white-color);
	opacity: 0;
	transition: opacity 500ms, transform 500ms;
}

.calendar__link:hover::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);

}

.calendar__link:focus-visible {
  outline: 2px solid #f90;
  outline-offset: 5px;
}

.calendar__link::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.calendar__link:hover::after{
	transform: scale(1);
}

.fees__block-arow {
  display: flex;
}

.fees__arow-left {
  margin-right: 20px;
}

.fees__arow-left,
.fees__arow-right {
  transition: background-color 0.3s linear, outline 0.3s ease-in, color 0.3s linear;
  border: none;
}

.fees__arow-left:focus-visible,
.fees__arow-right:focus-visible {
  outline: 2px solid var(--orange-color);
  outline-offset: 5px;
}

.fees__arow-left:hover,
.fees__arow-right:hover {
  color: var(--orange-color);
}

.fees__arow-left:active,
.fees__arow-right:active {
  color: var(--orangedark-color);
}

.fees__block-arow {
  display: flex;
}

.fees__arow-left {
  margin-right: 20px;
}

.fees__arow-left,
.fees__arow-right {
  transition: background-color 0.3s linear, outline 0.3s ease-in, color 0.3s linear;
  border: none;
}

.fees__arow-left:focus-visible,
.fees__arow-right:focus-visible {
  outline: 2px solid var(--orange-color);
  outline-offset: 5px;
}

.fees__arow-left:hover,
.fees__arow-right:hover {
  color: var(--orange-color);
}

.fees__arow-left:active,
.fees__arow-right:active {
  color: var(--orangedark-color);
}

.calendar__left-block p {
  min-width: 281px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.27px;
}
.calendar__left-block p:not(:last-child) {
  margin-bottom: 20px;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
  margin-bottom: 37px;
}

.name__month {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.days {
  /* display: grid;
    justify-content: center;
    align-items: center; */
  display: flex;
  justify-content: space-around;
  grid-template-columns: repeat(7, 1fr);
  height: 50px;
}

.title__bottom {
  margin: 0;
  text-align: center;
  margin-bottom: 21px;
  color: #fff;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fees__btn-bottom {
  display: flex;
  justify-content: center;
}
/* SLIDERS FEES */

.slider__container {
  max-width: 500px;
  max-height: 400px;
  overflow: hidden;
  position: relative;
}

.slider__img {
  max-width: 500px;
  border-radius: 15px;
}

.slider__container {
  width: 50%;
}

.slider__block {
  display: flex;
  transition: all 1s;
}

/* SLIDER FEES END */

.fees__btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-transform: uppercase;
  background: #ff7a00;
  box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 60px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s ease, color 0.3s ease, font-size 0.4s ease-in;
  outline: none;
}

.fees__btn:hover,
.fees__btn:active,
.fees__btn:focus-visible {
  color: var(--blue-color);
}
.fees__btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 60px solid #fdfdfd;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.fees__btn:hover:before,
.fees__btn:active:before,
.fees__btn:focus-visible:before {
  transform: translateX(0);
}



/* .fees__btn:focus-visible {
  background-color: var(--white-color);
  color: var(--orangedark-color);
}

.fees__btn:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
  font-size: 18px;
}

.fees__btn:active {
  background-color: var(--orangedark-color);
  color: var(--white-color);
} */

/*  NEWS */

.news__title {
  margin-bottom: 42px;
}

.news__block-add {
  display: flex;
  margin-bottom: 53px;
  gap: 20px;
}



.news__block {
  position: relative;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px #333333;
}

.news__block:focus {
  outline: 3px solid #074d92;
  outline-offset: 10px;
}

.news__block:last-child {
  margin-right: 0;
}

.photo__block img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.news__info {
  padding: 34px 25px 39px 30px;
}

.news__link {
  margin-bottom: 5px;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.36px;
  outline: none;
}

.news__descr {
  color: rgba(0, 0, 0, 0.8);
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.27px;
}

.news__button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.news__btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-transform: uppercase;
  padding: 18px 65px 22px 61px;
  border-radius: 3px;
  border: 2px solid var(--orange-color);
  background: #fff;
  box-shadow: 3px 4px 10px 0px rgba(12, 18, 192, 0.09);
  color: var(--orange-color);
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in;
}

.news__btn:focus-visible,
.news__btn:hover,
.news__btn:active {
  color: var(--white-color);
  border: 2px solid #1b407f;
}

.news__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border: #1b407f;
  border-right: 50px solid transparent;
  border-top: 70px solid #1b407f;
  transition: transform 0.7s;
  transform: translateX(-100%);
  z-index: -1;
}

.news__btn:focus-visible::before,
.news__btn:hover::before,
.news__btn:active::before {
  transform: translateX(0);
}
.news__link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news__link:focus::before {
  outline: none;  

}

/* FOOTER */

.full__footer-container {
  width: 100%;
  background: #1b407f;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 51px;
  padding-bottom: 71px;
}

.footer__left-block {
  max-width: 274px;
}

.footer__center-block {
  display: flex;
  flex-direction: column;
}
.footer_item {
  display: block;
}
.footer_right-block {
  width: 251px;
}

.social__block {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.social__link-footer {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  margin: 4px;
  border-radius: 30%;
  box-shadow: -5px 5px 15px -5px #f1f1f1;
  overflow: hidden;
  position: relative;
  transition: 0.8s linear;
}

.social__link-footer i {
  line-height: 40px;
  font-size: 26px;
  transition: 0.4s linear;
}

.social__link-footer:nth-child(1) i {
  color: #3b5998;
}

.social__link-footer:nth-child(2) i {
  color: #4c75a3;
}

.social__link-footer:nth-child(3) i {
  color: #0088cc;
}

.social__link-footer:nth-child(4) i {
  color: #833ab4;
}

.social__link-footer:hover {
  transform: scale(1.1);
}

.social__link-footer:hover i {
  transform: scale(1.2);
  color: #fff;
}

.social__link-footer:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.social__link-footer:nth-child(1)::before {
  background: #43d854;
}

.social__link-footer:nth-child(2)::before {
  background: #4c75a3;
}

.social__link-footer:nth-child(3)::before {
  background: #0088cc;
}

.social__link-footer:nth-child(4)::before {
  background: linear-gradient(to top right, yellow 0%, yellow 5%, red 45%, #ff1493 60%, #1e90ff 90%);
}

.social__link-footer:hover::before {
  animation: aaa 0.9s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

.social__link-footer svg path {
  fill: #d4d4d4;
  transition: fill 0.3s ease-in;
}

.contacts__title-footer {
  margin-bottom: 7px;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.contacts__title-footer:nth-child(n + 2) {
  margin-bottom: 1px;
}
.link__mail {
  color: #d4d4d4;
  font-family: Open Sans;
  font-size: 14px;
  line-height: normal;
}

.footer_right-block strong {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 168.75% */
}

.footer_right-block p {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
}
.btn-up {
  overflow: hidden;
  position: fixed;
  transition: all 0.3s ease-in-out;
}
.btn-up--active {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /*  */
  transition: all 0.3s ease-in-out;
}
.btn-up--active svg {
  width: 50px;
  height: 50px;
}

/* ФОРМА ВХОДА */
.form-entry {
  visibility: hidden;
  position: absolute;
  right: -50%;
  top: 0;
  width: 150px;
  color: transparent;
}
.form-register {
  visibility: hidden;
  position: absolute;
  right: -50%;
  top: 0;
  width: 150px;
  color: transparent;
}
.modal-wrap {
  display: none;
}
.modal-wrap--entry {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.modal-wrap--register {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal-wrap--entry .form-entry {
  visibility: visible;
  position: absolute;
  top: 70px;
  right: calc(50% - 174px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 349px;
  height: 355px;
  padding-top: 42px;
  border-radius: 15px;
  background: #fff;
  color: rgba(31, 31, 31, 0.8);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.modal-wrap--register .form-register {
  visibility: visible;
  position: absolute;
  top: 70px;
  right: calc(50% - 174.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 349px;
  height: 560px;
  padding-top: 42px;
  border-radius: 15px;
  background: #fff;
  color: rgba(31, 31, 31, 0.8);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-title {
  margin: 0 0 14px;
  color: #1f1f1f;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
}
.form-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input {
  width: 270px;
  height: 38px;
  padding: 14px 16px 16px 16px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid rgba(82, 82, 82, 0.32);
  background: #fff;
}
.input {
  margin-bottom: 10px;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.input:focus-visible {
  outline: none;
  border: 1px solid #336fee;
  box-shadow: 0px 0px 10px 0px rgba(51, 111, 238, 0.34);
}
.input:hover {
  outline: none;
  box-shadow: 0px 0px 10px 0px rgba(51, 111, 238, 0.34);
}
.input:active {
  outline: none;
  border: 1px solid #1b407f;
}

/* .input:active {
  border: 1px solid #336fee;
}
.input:hover {
  border: 1px solid #074d92;
} */

/* .modal-wrap--register .input:last-child {
  margin-bottom: 50px;
} */
.input-title {
  margin-bottom: 5px;
  color: rgba(31, 31, 31, 0.8);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.registerbtn {
  margin-bottom: 16px;
  padding: 12px 45px;
  border-radius: 3px;
  border: 2px solid #336fee;
  background: #336fee;
  box-shadow: 3px 4px 10px 0px rgba(47, 47, 47, 0.09);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.entrybtn,
.accountbtn {
  border: none;
  text-align: center;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.entrybtn:hover,
.accountbtn:hover {
  color: #336fee;
}
.form-cross {
  position: absolute;
  z-index: 120;
  height: 23px;
  width: 18px;
  top: -72px;
  right: -23px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
}
.cross {
  width: 17px;
}
.cross rect {
  fill: #1f1f1f;
}
.form-cross:hover .cross rect {
  fill: #ed2424;
}
.form-cross:active .cross rect {
  fill: #1b407f;
}
.form-cross span {
  position: absolute;
  background-color: #030303;
  left: 0;
  width: 100%;
  height: 2px;
  top: 11px;
}
.form-cross span:nth-child(n + 2) {
  transform: rotate(45deg);
}
.form-cross span:first-child {
  transform: rotate(-45deg);
}
.wrpap {
  position: relative;
}

/* .modal-wrap.show .form-entry {
  display: block;
} */

.modal-wrap.show .form-register,
.modal-wrap.show .form-entry {
  animation: modalShow 0.4s both;
}
.modal-wrap.hide .form-register,
.modal-wrap.hide .form-entry {
  animation: modalHide 0.4s both;
}

.modal-wrap.left .form-register,
.modal-wrap.left .form-entry {
  animation: modalLeft 0.4s both;
}

.modal-wrap.right .form-register,
.modal-wrap.right .form-entry {
  animation: modalRight 0.4s both;
}

@keyframes modalShow {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(70px);
    opacity: 1;
  }
}

@keyframes modalHide {
  from {
    transform: translateY(70px);
    opacity: 1;
  }
  to {
    transform: translateY(-600px);
    opacity: 0;
  }
}

@keyframes modalLeft {
  from {
    transform: translateX(70px);
    opacity: 1;
  }
  to {
    transform: translateX(-800px);
    opacity: 0;
  }
}
@keyframes modalRight {
  from {
    transform: translateX(800px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
