html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 400px;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background: #f8f8f8;
}

p {
  margin: 0;
}

/* GLOBAL */

:root {
  --white-color: #fff;
  --blue-color: #1b407f;
  --orange-color: #ff7a00;
}

.list__reset {
  padding: 0;
  margin: 0;
  list-style: none;
}


.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.heading__site {
  margin: 0;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.site-btn {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ff7a00;
}

.descr__site {
  margin: 0;
  color: var(--white-color);
}

.section__all {
  padding-bottom: 112px;
}

/* HEADER */

/* tournaments section */

.tournaments {
  padding-top: 5.83vw;
}

.title__tournaments {
  margin: 0;
  margin-bottom: 42px;
  color: #1f1f1f;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.internal__block {
  max-width: 820px;
  display: flex;
  flex-direction: column;
  padding-bottom: 54px;
  gap: 20px;
  padding-right: 55px;
  border-right: 1px solid rgba(82, 82, 82, 0.45);
}

.tournaments__block-flex-1,
.tournaments__block-flex-2,
.tournaments__block-flex-3 {
  display: flex;
  gap: 20px;
}

.click__pages {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.item__pages {
  display: flex;
}

.item__pages:not(:last-of-type) {
  margin-right: 15px;
}

.list__pages {
  display: flex;
}

.link__pages {
  color: #525252;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}

.arow__left {
  margin-right: 15px;
}

.arow__right {
  margin-left: 15px;
}

.tournaments__wrap {
  display: flex;
}

.news__info {
  padding: 32px 25px 39px 30px;
}

.news__link {
  margin-bottom: 7px;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px; /* 137.5% */
  letter-spacing: -0.36px;
}

.news__descr {
  color: rgba(0, 0, 0, 0.8);

  /* Body P */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.27px;
}

.container__application {
  max-width: 774px;
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 46px 113px 54px 94px;
  border-radius: 10px;
  background: linear-gradient(118deg, #0f1a50 0%, #074d92 100%);
}

.news__block {
  display: flex;
  /* max-width: 377px; */
  width: calc(100% - 50px);
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
}

.title__tournaments-application {
  color: #f4f4f4;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.tournaments__btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 18px 65px 22px 54px !important;
  border-radius: 3px;
  background-color: #ff7a00 !important;
  box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.tournaments__btn:hover,
.tournaments__btn:active,
.tournaments__btn:focus {
    color: var(--blue-color);
}
.tournaments__btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 60px solid #fdfdfd;
    transition: transform 0.7s;
    transform: translateX(-100%);
    z-index: -1;
}
.tournaments__btn:hover:before,
.tournaments__btn:active:before,
.tournaments__btn:focus:before {
    transform: translateX(0);
}

.application__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container__flex {
  display: flex;
  flex-direction: column;
}

.tournaments__right-block {
  display: flex;
  flex-direction: column;
  padding-left: 59px;
}

.tournaments__right-block h4 {
  margin: 0;
  margin-bottom: 32px;
  color: #1f1f1f;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.archive__wrap {
  margin-bottom: 60px;
}

.right__link {
  display: inline-block;
  position: relative;
  padding: 0.2em 0;
  color: #525252;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease-in, border-bottom 0.3s ease-in, outline 0.2s ease-in;
}

.right__link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: var(--orange-color);
	opacity: 0;
	transition: opacity 500ms, transform 500ms;
}

.right__link:hover::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

.right__link:focus-visible {
  outline: 2px solid #f90;
  outline-offset: 5px;
}

.right__link::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.right__link:hover::after{
	transform: scale(1);
}

.right__link:not(:last-of-type) {
  margin-bottom: 20px;
}
