.header {
    padding-bottom: 5.83vw;
}


.tournaments__wrap {
    display: flex;
}

.title__tournaments {
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 38px;
}

.internal__block {
    max-width: 773px;
    border-right: 1px solid rgba(82, 82, 82, 0.45);
}

.content__block {
    padding: 0 59px 0 0;
}


.internal__block p {
    margin-bottom: 64px;
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
    letter-spacing: -0.36px;
}

.command__block h4 {
    margin-bottom: 42px;
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.command__item {
    color: rgba(0, 0, 0, 0.80);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
    letter-spacing: -0.36px;
}

.block__maps h4 {
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.internal__block .block__maps p {
    color: rgba(0, 0, 0, 0.80);
    /* Body P */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.27px;
}

.internal__block .block__maps p strong {
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.27px;
}

.command__item:not(:last-of-type) {
    margin-bottom: 20px;
}

.command__item:last-child {
    margin-bottom: 3.13vw;
}

.archive__wrap {
    display: flex;
    flex-direction: column;
}

.archive__wrap h4 {
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}

.right__link {
    color: #525252;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right__link:last-child {
    margin-bottom: 3.13vw;
}

.right__link:not(:last-of-type) {
    margin-bottom: 20px;
}

.gallery__wrap h4 {
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tournaments__right-block {
    padding-left: 2.97vw;
}
