.header {
    padding-bottom: 5.83vw;
}


.tournaments__wrap {
    display: flex;
}

.title__tournaments {
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 38px;
}

.internal__block {
    max-width: 773px;
    border-right: 1px solid rgba(82, 82, 82, 0.45);
}

.content__block {
    padding: 0 59px 0 0;
}


.internal__block p {
    margin-bottom: 64px;
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
    letter-spacing: -0.36px;
}

.command__block h4 {
    margin-bottom: 42px;
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.command__item {
    color: rgba(0, 0, 0, 0.80);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
    letter-spacing: -0.36px;
}

.block__maps h4 {
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.internal__block .block__maps p {
    color: rgba(0, 0, 0, 0.80);
    /* Body P */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.27px;
}

.internal__block .block__maps p strong {
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.27px;
}

.command__item:not(:last-of-type) {
    margin-bottom: 20px;
}

.command__item:last-child {
    margin-bottom: 3.13vw;
}

.archive__wrap {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.archive__wrap h4 {
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}

.right__link {
    display: inline-block;
    position: relative;
    padding: 0.2em 0;
    color: #525252;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s ease-in, border-bottom 0.3s ease-in, outline 0.2s ease-in;
}

.right__link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: var(--orange-color);
	opacity: 0;
	transition: opacity 500ms, transform 500ms;
}

.right__link:hover::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

.right__link:focus-visible {
  outline: 2px solid #f90;
  outline-offset: 5px;
}

.right__link::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.right__link:hover::after{
	transform: scale(1);
}

.right__link:last-child {
    margin-bottom: 3.13vw;
}

.right__link:not(:last-of-type) {
    margin-bottom: 20px;
}

.gallery__wrap h4 {
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tournaments__right-block {
    padding-left: 2.97vw;
    padding-bottom: 2.97vw;
}
.gallery__link {
    display: inline-block;
  }
  
  .gallery__wrap {
    max-width: 320px;
  }
  .gallery__block-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  @media (max-width: 1098px) {
    .gallery__block-link {
        display: flex;
        flex-direction: column !important;
    }
  }
  @media (max-width: 855px) {
    .gallery__block-link {
        flex-direction: unset !important;
    }
  }