<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход</title>
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="responsive.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
  </head>
  <body>
    [% if user %]
      <section id="app" v-cloak class="uk-container uk-margin-top uk-margin-bottom">
        <p>
          <strong>
            User: [[ user.username ]].
            <a href="/logout">Log out</a>
          </strong>
        </p>
        <p>
          <form v-on:submit.prevent="createTimer">
            <input v-model="desc" class="uk-input" placeholder="Type description...">
            <p>
              <button v-bind:disabled="!desc" id="start-timer" class="uk-button uk-button-primary">
                <span uk-icon="play"></span> Start timer
              </button>
            </p>
          </form>
        </p>
        <div>
          <h2>Active timers:</h2>
          <ul class="uk-list">
            <li v-for="t in activeTimers" :key="t.id">
              <span uk-icon="close" v-on:click="stopTimer(t._id)"></span>
              <span class="uk-text-primary mono">{{ formatDuration(t.progress) }}</span>
              <strong class="uk-text-emphasis">{{ t.description }}</strong>
              <span class="uk-text-muted mono">{{ formatTime(t.start) }}</span>
            </li>
          </ul>
        </div>
        <div>
          <h2>Old timers:</h2>
          <ul id="past-timers" class="uk-list">
            <li v-for="t in oldTimers" :key="t.id">
              <span class="uk-text-primary mono">{{ formatDuration(t.duration) }}</span>
              <strong class="uk-text-emphasis">{{ t.description }}</strong>
              (<span class="uk-text-muted mono">{{ formatTime(t.start) }}</span>
              &ndash;
              <span class="uk-text-muted mono">{{ formatTime(t.end) }}</span>)
            </li>
          </ul>
        </div>
      </section>

      <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

      <script src="/main.js"></script>
    [% else %]
      <section class="uk-container uk-margin-top uk-margin-bottom">
        <div class="form-wrap">
          <form class="form-entry" method="POST" action="/login" enctype="application/x-www-form-urlencoded">
                     <h2 class="form-title">Вход</h2>
                      <label class="input-title" for="email">Почта:</label>
                      <input id="mail" class="input" type="text" placeholder="milka@mail.ru" name="email" required />
                      <label class="input-title" for="psw">Пароль:</label>
                      <input class="input" type="password" placeholder="Пароль" name="psw" required />
                      [% if authError %]
                        <div class="uk-alert uk-alert-danger">
                            <p>Неверный логин или пароль</p>
                        </div>
                      [% endif %]
                       <div class="btn-wrap">
                      <button type="submit" class="registerbtn">Войти</button>
                      <a class="entrybtn" href="/signup">У меня нет аккаунта</a>
                      </div>
                    
         </form>
        </div>
      </section>
    [% endif %]
  </body>
</html>
